---
// SPDX-License-Identifier: MIT

import "../../styles/global.css";

const dTitle = "Vibr Music Bot";
const dDescription = "A music bot you can vibe with :)";
const dUrl = "/logo.webp";
const dColor = "#8000FF";
const dImage = "/logo.webp";
const {
  title = dTitle,
  description = dDescription,
  url = dUrl,
  color = dColor,
  image = dImage,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="icon" sizes="16x16 32x32 64x64" href="/icons/favicon.ico" />
<link rel="icon" type="image/png" sizes="196x196" href="/icons/favicon-192.png" />
<link rel="icon" type="image/png" sizes="160x160" href="/icons/favicon-160.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96.png" />
<link rel="icon" type="image/png" sizes="64x64" href="/icons/favicon-64.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16.png" />
<link rel="apple-touch-icon" href="/icons/favicon-57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/icons/favicon-114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/icons/favicon-72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/icons/favicon-144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/icons/favicon-60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/icons/favicon-120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/icons/favicon-76.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/favicon-152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon-180.png" />
<meta name="msapplication-TileColor" content={color} />
<meta name="msapplication-TileImage" content="/icons/favicon-144.png" />
<meta name="msapplication-config" content="/extra/browserconfig.xml" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="theme-color" content={color} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={url} />
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
